<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= service.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= service.password_digest %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= service.contact %>
  </p>

  <p>
    <strong>Service type:</strong>
    <%= service.service_type %>
  </p>

</div>
