<!--<p style="color: green"><%#= notice %></p>-->

<h1 class="mb-4">Services</h1>
<div id="services">
  <% @services.each do |service| %>
    <div id="<%= dom_id service %>" class="service card border-primary mb-4">
      <div class="card-body custom-card-body">
        <h5 class="card-title">Name: <%= link_to service.name, service_path(service) %></h5>

        <p class="card-text">
          <strong>Email:</strong>
          <%= service.email %>
        </p>

<!--        <p class="card-text">-->
<!--          <strong>Password digest:</strong>-->
          <%#= service.password_digest %>
<!--        </p>-->

        <p class="card-text">
          <strong>Contact:</strong>
          <%= service.contact %>
        </p>

        <p class="card-text">
          <strong>Service type:</strong>
          <% if service.tags.any? %>
            <% service.tags.each do |tag| %>
              <%= link_to new_work_path(tag_name: tag.name, service_name: service.name), style: "text-decoration:none", class: "tag-link btn btn-outline-primary mr-2 mb-2" do %>
                <%= tag.name.capitalize.gsub!('_', '   ') %>
              <% end %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Back to home", cars_path, class: "btn btn-primary" %>