<!--<p style="color: green"><%#= notice %></p>-->

<h1>Services</h1>

<div id="services">
  <% @services.each do |service| %>
    <div id="<%= dom_id service %>">
      <p>
        <strong>Name:</strong>
        <%= service.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= service.email %>
      </p>

      <p>
        <strong>Password digest:</strong>
        <%= service.password_digest %>
      </p>

      <p>
        <strong>Contact:</strong>
        <%= service.contact %>
      </p>

      <p>
        <strong>Service type:</strong>
        <% service.tags.each do |tag| %>
          <%= link_to new_work_path(tag_name: tag.name, service_name: service.name), style:"text-decoration:none" do %>
            <span class="tag"><%= tag.name.capitalize.gsub!('_', '   ') %></span>
          <% end %>
        <% end %>
      </p>

    </div>

<% end %>
</div>

