<p style="color: green"><%= notice %></p>

<%= render @service %>


<h2>Comments</h2>
<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <div>
      <p><strong><%= comment.user_name %></strong></p>
      <p><%= comment.body %></p>
      <%= button_to "Destroy this comment", service_comment_path(@service, comment), method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  <% end %>
<% else %>
  <p>No comments found.</p>
<% end %>

<h2>Add a new comment</h2>
<%= render partial: "comments/form", locals: { service: @service } %>

<%= form_tag(rate_service_path(@service), method: :post) do %>
  <%= select_tag :rating, options_for_select([1, 2, 3, 4, 5]), prompt: 'Select rating' %>
  <%= submit_tag 'Rate' %>
<% end %>

<div>
  <%= link_to "Edit this service", edit_service_path(@service), class: "btn btn-warning" %> |
  <%= link_to "Back to my cars", cars_path, class: "btn btn-info" %>

  <%#= button_to "Destroy this service", @service, method: :delete %>
</div>
