<div id="<%= dom_id work %>">
  <p>
    <strong>Service name</strong>
    <%= work.service_name %>
  </p>

  <p>
    <strong>Choose car:</strong>
    <%= work.car_id %>
  </p>

  <p>
    <strong>Service work:</strong>
    <%= work.service_work %>
  </p>

  <p>
    <strong>Next appointment:</strong>
    <%= work.next_appointment %>
  </p>



</div>
