<%= form_with(model: [@car, @log], url: car_log_path(@car, @log), method: :post) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :oil_change %>
    <%= form.datetime_select :oil_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :water_removal %>
    <%= form.datetime_select :water_removal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cabin_filter_change %>
    <%= form.datetime_select :cabin_filter_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :breaks_liquid_change %>
    <%= form.datetime_select :breaks_liquid_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :freeze_liquid_change %>
    <%= form.datetime_select :freeze_liquid_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :driving_belt_change %>
    <%= form.datetime_select :driving_belt_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :chain_grm_change %>
    <%= form.datetime_select :chain_grm_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :oil_filter_change %>
    <%= form.datetime_select :oil_filter_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :air_filter_change %>
    <%= form.datetime_select :air_filter_change, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :registration_number %>
    <%= form.text_field :registration_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ensuranse_expiration %>
    <%= form.datetime_select :ensuranse_expiration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :driver_lisence_expiration %>
    <%= form.datetime_select :driver_lisence_expiration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :inspection %>
    <%= form.datetime_select :inspection, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
