<%= form_with(model: log) do |form| %>
  <% if log.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
        <% log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :oil_change, style: "display: block" %>
    <%= form.datetime_field :oil_change %>
  </div>

  <div>
    <%= form.label :water_removal, style: "display: block" %>
    <%= form.datetime_field :water_removal %>
  </div>

  <div>
    <%= form.label :cabin_filter_change, style: "display: block" %>
    <%= form.datetime_field :cabin_filter_change %>
  </div>

  <div>
    <%= form.label :breaks_liquid_change, style: "display: block" %>
    <%= form.datetime_field :breaks_liquid_change %>
  </div>

  <div>
    <%= form.label :freeze_liquid_change, style: "display: block" %>
    <%= form.datetime_field :freeze_liquid_change %>
  </div>

  <div>
    <%= form.label :driving_belt_change, style: "display: block" %>
    <%= form.datetime_field :driving_belt_change %>
  </div>

  <div>
    <%= form.label :chain_grm_change, style: "display: block" %>
    <%= form.datetime_field :chain_grm_change %>
  </div>

  <div>
    <%= form.label :oil_filter_change, style: "display: block" %>
    <%= form.datetime_field :oil_filter_change %>
  </div>

  <div>
    <%= form.label :air_filter_change, style: "display: block" %>
    <%= form.datetime_field :air_filter_change %>
  </div>

  <div>
    <%= form.label :registration_number, style: "display: block" %>
    <%= form.text_field :registration_number %>
  </div>

  <div>
    <%= form.label :ensuranse_expiration, style: "display: block" %>
    <%= form.datetime_field :ensuranse_expiration %>
  </div>

  <div>
    <%= form.label :driver_lisence_expiration, style: "display: block" %>
    <%= form.datetime_field :driver_lisence_expiration %>
  </div>

  <div>
    <%= form.label :inspection, style: "display: block" %>
    <%= form.datetime_field :inspection %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
