<div id="<%= dom_id log %>" class="container">
  <div class="row">
    <div class="col-md-6 car-body-text-color">
      <h4 style="color: orange">Service Log</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Oil change:</strong>
          <%= log.oil_change %>
        </li>
        <li class="list-group-item">
          <strong>Water removal:</strong>
          <%= log.water_removal %>
        </li>
        <li class="list-group-item">
          <strong>Cabin filter change:</strong>
          <%= log.cabin_filter_change %>
        </li>
        <li class="list-group-item">
          <strong>Brake fluid change:</strong>
          <%= log.breaks_liquid_change %>
        </li>
        <li class="list-group-item">
          <strong>Freeze liquid change:</strong>
          <%= log.freeze_liquid_change %>
        </li>
        <li class="list-group-item">
          <strong>Drive belt change:</strong>
          <%= log.driving_belt_change %>
        </li>
        <li class="list-group-item">
          <strong>Chain grm change:</strong>
          <%= log.chain_grm_change %>
        </li>
        <li class="list-group-item">
          <strong>Oil filter change:</strong>
          <%= log.oil_filter_change %>
        </li>
        <li class="list-group-item">
          <strong>Air filter change:</strong>
          <%= log.air_filter_change %>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Vehicle Information</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Registration number:</strong>
          <%= log.registration_number %>
        </li>
        <li class="list-group-item">
          <strong>Insurance expiration:</strong>
          <%= log.ensuranse_expiration %>
        </li>
        <li class="list-group-item">
          <strong>Driver's license expiration:</strong>
          <%= log.driver_lisence_expiration %>
        </li>
        <li class="list-group-item">
          <strong>Inspection:</strong>
          <%= log.inspection %>
        </li>
      </ul>
    </div>
  </div>
</div>
